table {
    font-size: 15px;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

thead {
    background-color: #8dd4ff;
}

table td, th {
    border: 1px solid black;
}

.result {
    font-weight: bold;
    background-color: #b1faff;
}

#filters {
    padding: 15px;
    margin: 15px auto 15px auto;
    width: 60%;
    border: 1px solid black;
}